.menu {
    width: 200px;
    float: left;
    color: #CCCCCC;
    padding: 50px 0;
    border: 1px solid #CCCCCC;
    border-left: 4px solid #009933;
    background-color: #ffffff;

    .item {
        padding: 5px 5px 5px 20px;
        cursor: pointer;
        background-color: #ffffff;
        color: #333333;


    }
    .item:hover {
        border-left: 4px solid #009933;
        transition: 200ms;
        padding: 5px 5px 5px 24px;
        background-color: #333333;
        color: #FFFFFF;


    }
}